body {
	margin: 0;
	background: #333;
}
#title {
	position: absolute;
	width:40%;
	height: 10%;
	top: 0;
	left: 30%;
	color: #ffffff;
	font-size: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#time {
	position: absolute;
	width: 30%;
	height: 10%;
	top: 0;
	right: 0%;
	color: #ffffff;
	font-size: 20px;
}
#center1 {
	position: absolute;
	width: 40%;
	height: 30%;
	top: 10%;
	left: 30%;
	color: #ffffff;
}
#center2 {
	position: absolute;
	width: 40%;
	height: 60%;
	top: 40%;
	left: 30%;
	background: #123454;
}
#left1 {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 10%;
	left: 0%;
	background: #555555;
}
#left2 {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 55%;
	left: 0%;
	background: #444444;
}
#right1 {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 10%;
	right: 0%;
	background: #555555;
}
#right2 {
	position: absolute;
	width: 30%;
	height: 45%;
	top: 55%;
	right: 0%;
	background: #654325;
}
.num {
	width: 25%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: gold;
	font-size: 20px;
}
.txt {
	width: 25%;
	float: left;
	display: flex;
	align-items: center;
	justify-content: center;
	color: gold;
	font-size: 20px;
}

